* {
    margin: 0;
    padding: 0;
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

h2 {
    font-weight: 500;
    margin-bottom: 25px;
    text-align: center;
}

nav {
    display: flex;
    grid-template-columns: 150px auto 150px;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    background-color: white;
    padding: 0 30px 0;
}

.logo {
    width: 300px;
    padding: 12px 0 5px 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 2em;
    font-size: 15px;
}

.menu a {
    color: black;
}

.menu a:hover {
    color: #ff2c2c;
}

.bx {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgb(163, 122, 39);
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 35px;
    cursor: pointer;
}

/* DROPDOWN MENU */

.dropdown {
    background-color: rgb(247, 244, 242);
    padding: 1em 0;
    position: absolute;
    /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}

.dropdown li+li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

/*RESPONSIVE NAVBAR MENU STARTS*/

/* CHECKBOX HACK */

input[type=checkbox] {
    display: none;
}

/*HAMBURGER MENU*/

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* APPLYING MEDIA QUERIES */

@media (max-width: 1068px) {
    .menu {
        display: none;
        position: absolute;
        background-color: rgb(247, 244, 242);
        right: 0;
        left: 0;
        text-align: center;
        padding: 25px 0;
        margin-top: 5px;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }

}

/* RESPONSIVE MENU END */

/* Section Styles */
.main-section {
    display: flex;
    flex-direction: row;
    /* Alineación horizontal para pantallas grandes */
    justify-content: center;
    align-items: center;
    background: url('/assets/images/jess.jpg') center center / cover no-repeat;
    /* Se mantiene */
    height: 100vh;
    /* Se mantiene */
    width: 100vw;
    /* Se mantiene */
    flex-wrap: wrap;
    /* Permite envolver elementos en pantallas pequeñas */
}

.centro {
    display: flex;
    width: 1200px;
}

.left-div,
.right-div {
    flex: 1;
    /* Permite que cada div tome la mitad del espacio disponible */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* Se mantiene */

}

.left-div {
    background-color: #ffffff;
    /* Se mantiene */
    max-width: 400px;
    /* Se mantiene */
    width: 100%;
    /* Se mantiene */
    height: auto;
    /* Se mantiene */
    display: flex;
    flex-direction: column;
    margin: 30px;
    /* Se mantiene */
    padding: 25px;
    /* Se mantiene */
    align-items: start;
    /* Se mantiene */
    border-radius: 10px;
    /* Se mantiene */
    box-sizing: border-box;
    /* Se mantiene */
}

.right-div {
    background-color: transparent;
    /* Se mantiene */
}

.texto {
    margin-bottom: 30px;
    /* Se mantiene */
}

@media (max-width: 768px) {
    .main-section {
        flex-direction: column;
        /* Alineación vertical para pantallas pequeñas */
        padding: 0;
        /* Elimina el padding si está afectando la centración */
    }

    .centro {
        width: 100%;
        /* Asegúrate de que el contenedor centro no exceda el ancho de la pantalla */
        flex-direction: column;
        /* Alineación vertical para pantallas pequeñas */
        align-items: center;
        /* Centra los elementos secundarios */
        padding: 0;
        /* Elimina el padding para ajustar el ancho */
    }

    .left-div,
    .right-div {
        width: 100%;
        /* Toma todo el ancho disponible */
        margin: 0;
        /* Elimina los márgenes laterales */
        align-items: center;
        /* Centra el contenido horizontalmente */
        justify-content: center;
        /* Centra el contenido verticalmente */
        padding: 20px;
        /* Ajusta el padding para pantallas pequeñas */
        box-sizing: border-box;
        /* Asegura que el padding no afecte el ancho total */
    }

    .formulario {
        width: 90%;
        /* Ajusta el ancho para mejor lectura */
        max-width: 500px;
        /* Establece un ancho máximo para el formulario */
        margin: 20px auto;
        /* Centra el formulario */
        padding: 15px;
        /* Ajusta el padding según sea necesario */
    }
}

.formulario {
    background-color: #ff2c2c;
    /* Se mantiene */
    width: auto;
    /* Se mantiene */
    height: auto;
    /* Se mantiene */
    padding: 15px;
    /* Se mantiene */
    border-radius: 10px;
    /* Se mantiene */
    font-size: 18px;
    /* Se mantiene */
    text-align: center;
    /* Asegura que el texto esté centrado */
}

.formulario a {
    color: white;
    /* Se mantiene */
    text-decoration: none;
    /* Se mantiene */
    padding: 10px 20px;
    /* Se mantiene */
    display: inline-block;
    /* Se mantiene */
    border-radius: 5px;
    /* Se mantiene */
}

/* Estilos para el menú de categorías BLOG BLOG BLOG BLOG*/
.category-menu {
    text-align: center;
    margin: 20px;
}

.category-button {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
    /* Añade estilos adicionales según sea necesario */
}

/* Estilos para las tarjetas de los posts */
.posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    /* Ajusta el espacio entre las tarjetas */
    padding: 20px;
    /* Ajusta el padding de todo el contenedor */
}

.post-card {
    background-color: white;
    /* Color de fondo de la tarjeta */
    border-radius: 15px;
    /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra sutil para la tarjeta */
    overflow: hidden;
    /* Asegura que todo dentro de la tarjeta respete los bordes redondeados */
    width: 300px;
    /* Ancho fijo para cada tarjeta */
    text-align: left;
    /* Alineación del texto dentro de la tarjeta */
    transition: transform 0.2s;
    /* Transición suave para hover */
}

.post-card:hover {
    transform: scale(1.05);
    /* Efecto de crecimiento al pasar el mouse sobre la tarjeta */
}

.post-card img {
    width: 100%;
    /* La imagen cubre el ancho completo de la tarjeta */
    height: auto;
    /* La altura de la imagen es automática para mantener la proporción */
}

.post-card h3 {
    margin: 16px;
    /* Margen alrededor del título para dar espacio */
}

.post-card p {
    margin: 0 16px 16px;
    /* Margen alrededor del párrafo */
    color: #333;
    /* Color del texto */
}

/* Responsiveness */
@media (max-width: 600px) {
    .posts-container {
        flex-direction: column;
        align-items: center;
    }

    .post-card {
        width: 90%;
        /* Las tarjetas ocupan más ancho en pantallas pequeñas */
    }
}

.intro {
    background-color: rgb(239, 239, 239);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px 50px 150px 50px;
}

.intro2 {
    max-width: 800px;
    text-align: justify;
    margin: 10px 30px 10px 30px;
}

@media (max-width: 768px) {}

.me {
    display: flex;
    flex-direction: column;
    /* Elementos secundarios en una fila para la versión de escritorio */
    justify-content: center;
    /* Centra los elementos horizontalmente */
    align-items: center;
    /* Centra los elementos verticalmente */
    padding: 150px 50px 150px 50px;
}

.medivs {
    flex: 1;
    /* Los divs tomarán el mismo espacio */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* Centra el contenido horizontalmente */
    align-items: center;
    /* Centra el contenido verticalmente */
    padding: 10px;
    /* Espaciado interior */
    max-width: 1200px;
    margin: auto;
}

.meleft {
    margin: 10px;
}

.meright {
    margin: 25px;
    text-align: justify;
}

@media (max-width: 768px) {
    .me {
        flex-direction: column;
        /* Elementos secundarios en una columna para la versión móvil */
    }

    .medivs {
        flex-direction: column;
    }
}

.formulario2 {
    background-color: #ad814b;
    margin: 30px 15px;
    display: inline-block;
    /* Ajusta el ancho al del contenido y permite el uso de padding */
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
}

.formulario2 a {
    color: white;
    /* Asegura que los enlaces dentro de .formulario2 también sean blancos */
    text-decoration: none;
    /* Opcional: elimina el subrayado del enlace */
}

.mcentro {
    text-align: center;
}

.work {
    background-color: rgb(239, 239, 239);
    padding: 150px 30px 150px 30px;
}

.cards-container {
    display: flex;
    justify-content: center;
    /* Centra las tarjetas horizontalmente */
    flex-wrap: wrap;
    /* Permite que las tarjetas se ajusten en filas en pantallas más pequeñas */
    gap: 10px;
    /* Espacio entre tarjetas */
    max-width: 1200px;
    margin: auto;
}

.card {
    flex-basis: 30%;
    /* Establece una base para el ancho de cada tarjeta */
    max-width: 280px;
    /* Ancho máximo para evitar que las tarjetas se deformen */
    min-width: 280px;
    text-align: center;
    /* Centra el texto y el contenido de la tarjeta */
    padding: 20px;
    /* Espaciado interno */
    border: 1px solid #ddd;
    /* Borde ligero */
    border-radius: 10px;
    /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra ligera */
    margin: 10px;
    /* Margen alrededor de las tarjetas */
    display: flex;
    flex-direction: column;
    /* Organiza el contenido de la tarjeta verticalmente */
    justify-content: center;
    /* Centra el contenido verticalmente */
    align-items: center;
    /* Alinea elementos horizontalmente al centro */
    background: #fff;
    /* Fondo blanco para las tarjetas, si es necesario */
}

.separador {
    border-bottom: 2px solid #333;
    margin-top: 20px;
}

.texto {
    margin: 25px;
    text-align: justify;
}

.icono {
    font-size: 40px;
    /* Tamaño del icono (ajustable) */
    margin-bottom: 10px;
    /* Espacio debajo del icono */
}

button {
    margin-bottom: 15px;
    /* Espacio encima del botón */
    padding: 10px 20px;
    /* Espaciado interno del botón */
    border: none;
    background-color: #ad814b;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
    .card {
        flex-basis: 80%;
        /* Hace las tarjetas más anchas en pantallas pequeñas */
    }
}

h3 {
    margin: 10px;
    font-weight: 500;
}

.meet {
    display: flex;
    flex-direction: row;
    /* Alineación horizontal para pantallas grandes */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* Permite envolver elementos en pantallas pequeñas */
    padding: 10px;
    /* Espaciado alrededor de todo el contenedor .meet */
}

.leftmeet,
.rightmeet {
    flex: 1;
    /* Permite que cada div tome la mitad del espacio disponible */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* Espaciado interior para cada div */
}

.leftmeet {
    order: 1;
    /* Asegura que .leftmeet venga primero */
}

.rightmeet {
    display: flex;
    flex-direction: column;
    align-items: start;
    order: 2;
    /* Asegura que .rightmeet venga después */
    padding: 35px;
    /* Ajusta el padding según sea necesario */
    border-radius: 20px;
    box-sizing: border-box;
}

.imgmeet {
    max-width: 100%;
    /* Asegura que la imagen sea responsiva dentro de .leftmeet */
    height: auto;
    /* Mantiene la proporción de la imagen */
}

@media (max-width: 768px) {
    .meet {
        display: flex;
        flex-direction: column;
        /* Alineación vertical para pantallas pequeñas */
    }

    .leftmeet,
    .rightmeet {
        width: 100%;
        /* Toma todo el ancho disponible en pantallas pequeñas */
        order: unset;
        /* Restablece el orden si fue cambiado */
        padding: 20px;
        /* Reduce el padding para pantallas pequeñas */
        margin: 0;
        /* Elimina margen para alineación vertical */
    }

    .imgmeet {
        max-width: 100%;
        /* Asegura que la imagen sea responsiva */
    }
}


.myjourney {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centrejourney {
    display: flex;
    flex-direction: column;
}

.social {
    display: flex;
    justify-content: space-around;
    padding: 0 0 0 15px;
}