@import "main-section";

* {
    margin: 0;
    padding: 0;
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

h2 {
    font-weight: 500;
    margin-bottom: 25px;
    text-align: center;
}

header {
    position: fixed;
    /* Fija el header en la parte superior */
    top: 0;
    /* Alinea el header en la parte superior de la página */
    left: 0;
    /* Alinea el header a la izquierda de la página */
    width: 100%;
    /* Hace que el header ocupe el ancho completo */
    z-index: 1000;
    /* Asegura que el header se quede sobre el resto del contenido */
}

body {
    padding-top: 70px;
    overflow-x: hidden;
}

nav {
    display: flex;
    grid-template-columns: 150px auto 150px;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    background-color: white;
    padding: 0 30px 0;
}

.logo {
    width: 300px;
    padding: 12px 0 5px 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 2em;
    font-size: 15px;
}

.menu a {
    color: black;
}

.menu a:hover {
    color: #ff2c2c;
}

/* DROPDOWN MENU RESPONSIVE ---------------------------------------------------*/

.dropdown {
    background-color: rgb(255, 255, 255);
    padding: 1em 0;
    position: absolute;
    /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}

.dropdown li+li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

/*RESPONSIVE NAVBAR MENU STARTS*/

/* CHECKBOX HACK */

input[type=checkbox] {
    display: none;
}

/*HAMBURGER MENU*/

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* APPLYING MEDIA QUERIES */

@media (max-width: 1068px) {
    .menu {
        display: none;
        position: absolute;
        background-color: rgb(255, 255, 255);
        right: 0;
        left: 0;
        text-align: center;
        padding: 25px 0;
        margin-top: 15px;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }

}

/* RESPONSIVE MENU END */

/* Section Styles --------------------------------------*/
.seccion {
    background-color: rgb(239, 239, 239);
    padding: 100px 30px 100px 30px;
}

.section1 {
    background-color: rgb(239, 239, 239);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 30px 100px 30px;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 30px 100px 30px;
}

.main-section {
    display: flex;
    flex-direction: row;
    /* Alineación horizontal para pantallas grandes */
    justify-content: center;
    align-items: center;
    background: url('{{ site.baseurl }}/assets/images/jess.jpg') center center / cover no-repeat;
    /* Se mantiene */
    height: 100vh;
    /* Se mantiene */
    width: 100vw;
    /* Se mantiene */
    flex-wrap: wrap;
    /* Permite envolver elementos en pantallas pequeñas */
}

.centro {
    display: flex;
    width: 1200px;
}

.left-div,
.right-div {
    flex: 1;
    /* Permite que cada div tome la mitad del espacio disponible */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* Se mantiene */

}

/*--------TEST--------*/



/*--------TEST--------*/

.left-div {
    background-color: #ffffff;
    /* Se mantiene */
    max-width: 400px;
    /* Se mantiene */
    width: 100%;
    /* Se mantiene */
    height: auto;
    /* Se mantiene */
    display: flex;
    flex-direction: column;
    margin: 30px;
    /* Se mantiene */
    padding: 25px;
    /* Se mantiene */
    align-items: start;
    /* Se mantiene */
    border-radius: 10px;
    /* Se mantiene */
    box-sizing: border-box;
    /* Se mantiene */
}

.h1index {
    font-weight: 500;
    margin-bottom: 20px;
}

.right-div {
    background-color: transparent;
    /* Se mantiene */
}

.texto {
    margin-bottom: 30px;
    /* Se mantiene */
}

@media (max-width: 768px) {
    .main-section {
        flex-direction: column;
        /* Alineación vertical para pantallas pequeñas */
        padding: 0;
        /* Elimina el padding si está afectando la centración */
    }

    .centro {
        width: 100%;
        /* Asegúrate de que el contenedor centro no exceda el ancho de la pantalla */
        flex-direction: column;
        /* Alineación vertical para pantallas pequeñas */
        align-items: center;
        /* Centra los elementos secundarios */
        padding: 0;
        /* Elimina el padding para ajustar el ancho */
    }

    .left-div,
    .right-div {
        width: 100%;
        /* Toma todo el ancho disponible */
        margin: 0;
        /* Elimina los márgenes laterales */
        align-items: center;
        /* Centra el contenido horizontalmente */
        justify-content: center;
        /* Centra el contenido verticalmente */
        padding: 20px;
        /* Ajusta el padding para pantallas pequeñas */
        box-sizing: border-box;
        /* Asegura que el padding no afecte el ancho total */
    }

    .formulario {
        width: 90%;
        /* Ajusta el ancho para mejor lectura */
        max-width: 500px;
        /* Establece un ancho máximo para el formulario */
        margin: 20px auto;
        /* Centra el formulario */
        padding: 15px;
        /* Ajusta el padding según sea necesario */
    }
}

.formulariocentro {
    display: flex;
    align-items: center;
    margin: auto;
}

.formulario {
    background-color: #ff2c2c;
    /* Se mantiene */
    width: auto;
    /* Se mantiene */
    height: auto;
    /* Se mantiene */
    padding: 5px;
    /* Se mantiene */
    border-radius: 10px;
    /* Se mantiene */
    font-size: 18px;
    /* Se mantiene */
    text-align: center;
    /* Asegura que el texto esté centrado */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    /* Transición suave para sombra y transformación */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    /* Sombra inicial */
}

.formulario:hover {
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
    /* Sombra más prominente al hacer hover */
    transform: translateY(-2px);
    /* Efecto de 'levantar' el botón */
}

.formulario:active {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    /* Sombra más sutil al hacer click */
    transform: translateY(0);
    /* El botón vuelve a su posición inicial al hacer click */
}

.formulario a {
    color: white;
    /* Se mantiene */
    text-decoration: none;
    /* Se mantiene */
    padding: 10px 20px;
    /* Se mantiene */
    display: inline-block;
    /* Se mantiene */
    border-radius: 5px;
    /* Se mantiene */
}

.intro2 {
    max-width: 800px;
    text-align: justify;
    max-width: 1000px;
    margin: auto;
}

@media (max-width: 768px) {
    .section2 {
        flex-direction: column;
    }
}

.formulario2 {
    background-color: #ad814b;
    margin-top: 25px;
    display: inline-block;
    /* Ajusta el ancho al del contenido y permite el uso de padding */
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    /* Transición suave para sombra y transformación */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    /* Sombra inicial */
}

.formulario2 a {
    color: white;
    /* Asegura que los enlaces dentro de .formulario2 también sean blancos */
    text-decoration: none;
    /* Opcional: elimina el subrayado del enlace */
}

.formulario2:hover {
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
    /* Sombra más prominente al hacer hover */
    transform: translateY(-2px);
    /* Efecto de 'levantar' el botón */
}

.formulario2:active {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    /* Sombra más sutil al hacer click */
    transform: translateY(0);
    /* El botón vuelve a su posición inicial al hacer click */
}

.mcentro {
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.mcentro-top {
    display: flex;
    justify-content: center;
    margin: 0 auto 75px;
    text-align: center;
}

.cards-container {
    display: flex;
    justify-content: center;
    /* Centra las tarjetas horizontalmente */
    flex-wrap: wrap;
    /* Permite que las tarjetas se ajusten en filas en pantallas más pequeñas */
    gap: 10px;
    /* Espacio entre tarjetas */
    max-width: 1200px;
    margin: auto;
}

.card {
    flex-basis: 30%;
    /* Establece una base para el ancho de cada tarjeta */
    max-width: 280px;
    /* Ancho máximo para evitar que las tarjetas se deformen */
    min-width: 280px;
    text-align: center;
    /* Centra el texto y el contenido de la tarjeta */
    padding: 20px;
    /* Espaciado interno */
    border: 1px solid #ddd;
    /* Borde ligero */
    border-radius: 10px;
    /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra ligera */
    margin: 10px;
    /* Margen alrededor de las tarjetas */
    display: flex;
    flex-direction: column;
    /* Organiza el contenido de la tarjeta verticalmente */
    justify-content: center;
    /* Centra el contenido verticalmente */
    align-items: center;
    /* Alinea elementos horizontalmente al centro */
    background: #fff;
    /* Fondo blanco para las tarjetas, si es necesario */
}

.separador {
    border-bottom: 2px solid #333;
    margin-top: 20px;
}

.texto {
    margin: 25px;
    /* text-align: justify; */
}

.icono {
    font-size: 40px;
    /* Tamaño del icono (ajustable) */
    margin-bottom: 10px;
    /* Espacio debajo del icono */
}

button {
    margin-bottom: 15px;
    padding: 10px 20px;
    border: none;
    background-color: #ad814b;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    /* Transición suave para sombra y transformación */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    /* Sombra inicial */
}

button:hover {
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
    /* Sombra más prominente al hacer hover */
    transform: translateY(-2px);
    /* Efecto de 'levantar' el botón */
}

button:active {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    /* Sombra más sutil al hacer click */
    transform: translateY(0);
    /* El botón vuelve a su posición inicial al hacer click */
}

/* Responsive Design */
@media (max-width: 768px) {
    .card {
        flex-basis: 80%;
        /* Hace las tarjetas más anchas en pantallas pequeñas */
    }
}

h3 {
    margin: 10px;
    font-weight: 500;
}

.meetbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
}

.h1meet {
    font-weight: 500;
    position: relative;
    /* Necesario para posicionar el pseudo-elemento */
    padding-bottom: 15px;
    /* Ajusta la separación entre el texto y la línea */
}

.h1meet::after {
    content: '';
    /* Importante para que el pseudo-elemento se genere */
    display: block;
    /* Hace que el pseudo-elemento sea como un div */
    margin: 0;
    /* Esto centrará la línea si no tiene un ancho establecido al 100% */
    height: 2px;
    /* El grosor de tu línea */
    width: 100px;
    /* El ancho de la línea respecto al elemento .h2coach */
    background-color: #333;
    /* El color de tu línea */
    position: absolute;
    /* Posicionamiento absoluto respecto al elemento .h2coach */
    bottom: 0;
    /* Alineado en la parte inferior del elemento .h2coach */
    left: 0;
    /* Alineado a la izquierda. Cambia esto para ajustar la posición horizontal */
    right: 0;
    /* Alineado a la derecha. Esto junto con 'left: 0' y 'margin: 0 auto' asegura que esté centrado */
}

.leftmeet,
.rightmeet {
    flex: 1;
    /* Permite que cada div tome la mitad del espacio disponible */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* Espaciado interior para cada div */
}

.leftmeet {
    order: 1;
    /* Asegura que .leftmeet venga primero */
}

.rightmeet {
    display: flex;
    flex-direction: column;
    align-items: start;
    order: 2;
    /* Asegura que .rightmeet venga después */
    padding: 30px;
    /* Ajusta el padding según sea necesario */
    border-radius: 20px;
    box-sizing: border-box;
}

.imgmeet {
    max-width: 100%;
    /* Asegura que la imagen sea responsiva dentro de .leftmeet */
    height: auto;
    /* Mantiene la proporción de la imagen */
}

@media (max-width: 768px) {
    .meet {
        display: flex;
        flex-direction: column;
        /* Alineación vertical para pantallas pequeñas */
    }

    .meetbox {
        display: flex;
        flex-direction: column;
    }

    .leftmeet,
    .rightmeet {
        width: 100%;
        /* Toma todo el ancho disponible en pantallas pequeñas */
        order: unset;
        /* Restablece el orden si fue cambiado */
        margin: 0;
        /* Elimina margen para alineación vertical */
    }

    .imgmeet {
        max-width: 100%;
        /* Asegura que la imagen sea responsiva */
    }
}

.linea {
    position: relative;
    /* Necesario para posicionar el pseudo-elemento */
    padding-bottom: 15px;
    /* Ajusta la separación entre el texto y la línea */
    margin-bottom: 50px;
}

.linea::after {
    content: '';
    /* Importante para que el pseudo-elemento se genere */
    display: block;
    /* Hace que el pseudo-elemento sea como un div */
    margin: 0 auto;
    /* Esto centrará la línea si no tiene un ancho establecido al 100% */
    height: 2px;
    /* El grosor de tu línea */
    width: 100px;
    /* El ancho de la línea respecto al elemento .h2coach */
    background-color: #333;
    /* El color de tu línea */
    position: absolute;
    /* Posicionamiento absoluto respecto al elemento .h2coach */
    bottom: 0;
    /* Alineado en la parte inferior del elemento .h2coach */
    left: 0;
    /* Alineado a la izquierda. Cambia esto para ajustar la posición horizontal */
    right: 0;
    /* Alineado a la derecha. Esto junto con 'left: 0' y 'margin: 0 auto' asegura que esté centrado */
}

.centrejourney {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    padding: 30px;
}

.calendly {
    margin: 50px;
}

.h2coach {
    position: relative;
    /* Necesario para posicionar el pseudo-elemento */
    padding-bottom: 15px;
    /* Ajusta la separación entre el texto y la línea */
}

.h2coach::after {
    content: '';
    /* Importante para que el pseudo-elemento se genere */
    display: block;
    /* Hace que el pseudo-elemento sea como un div */
    margin: 0 auto;
    /* Esto centrará la línea si no tiene un ancho establecido al 100% */
    height: 2px;
    /* El grosor de tu línea */
    width: 100px;
    /* El ancho de la línea respecto al elemento .h2coach */
    background-color: #333;
    /* El color de tu línea */
    position: absolute;
    /* Posicionamiento absoluto respecto al elemento .h2coach */
    bottom: 0;
    /* Alineado en la parte inferior del elemento .h2coach */
    left: 0;
    /* Alineado a la izquierda. Cambia esto para ajustar la posición horizontal */
    right: 0;
}

.card1 {
    flex-basis: 30%;
    /* Establece una base para el ancho de cada tarjeta */
    max-width: 280px;
    /* Ancho máximo para evitar que las tarjetas se deformen */
    min-width: 280px;
    text-align: center;
    /* Centra el texto y el contenido de la tarjeta */
    padding: 20px;
    /* Espaciado interno */
    margin: 10px;
    /* Margen alrededor de las tarjetas */
    display: flex;
    flex-direction: column;
    /* Organiza el contenido de la tarjeta verticalmente */
    justify-content: center;
    /* Centra el contenido verticalmente */
    align-items: center;
    /* Alinea elementos horizontalmente al centro */
    background: #fff;
    /* Fondo blanco para las tarjetas, si es necesario */
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.mail a {
    color: black;
}

.bx {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #ad814b;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 35px;
    cursor: pointer;
}

.social {
    display: flex;
    justify-content: center;
}

.social i {
    margin: 5px;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 10px;
    box-shadow: #333;
    padding: 20px;
}

footer img {
    width: 50px;
}

@media (max-width: 768px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.mainsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('/assets/images/jess.jpg') center center / cover no-repeat;
    height: 400px;
}

.abroad {
    display: flex;
    margin-top: 75px;
    font-size: 80px;
    font-weight: 300;
}

@media (max-width: 768px) {
    .abroad {
        font-size: 50px;
    }

    .abroadh2 {
        font-size: 20px;
        margin: 0 50px;
    }
}

.life {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
}

.lifem {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
}

.h3class {
    display: flex;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}

.pclass {
    display: flex;
    text-align: center;
    margin: auto;
    margin-top: 30px;
}

.meet2texto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
}

/* ACCORDEÓN */

.life2 {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 35px;
}

@media (max-width: 768px) {
    .lifem {
        text-align: justify;
    }

    .life2 {
        text-align: justify;
    }

    .accordion-container {
        width: 100%;
        /* O el porcentaje que prefieras */
    }

    .accordion-header span,
    .accordion-content p {
        font-size: 16px;
        /* Ajusta el tamaño del texto para dispositivos móviles si es necesario */
    }

}

.accordion-container {
    max-width: 600px;
    margin: 25px auto;
}

.accordion {
    border: 1px solid #000;
    border-radius: 10px;
    margin-bottom: 10px;
    /* Espacio entre acordeones */
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}

.accordion-content {
    text-align: justify;
    background-color: #FFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
    padding: 20px;
}

.arrow-icon {
    transition: transform 0.3s ease;
}

.accordion.active .accordion-content {
    display: block;
}

.accordion.active .arrow-icon {
    transform: rotate(180deg);
}

.benefits {
    text-align: start;
}

.br {
    margin-bottom: 15px;
}

.stats-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    /* o el ancho máximo que prefieras */
    margin-bottom: 40px;
}

.stat {
    text-align: center;
    max-width: 200px;
}

.number {
    font-size: 3em;
    /* o el tamaño que prefieras */
    font-weight: 500;
    color: #ff2c2c;
}

.label {
    font-size: 16px;
    /* o el tamaño que prefieras */
    margin-top: 0.5em;
}

@media (max-width: 600px) {
    .stats-container {
        display: flex;
        flex-direction: column;
    }

    .stat {
        margin: 30px;
    }
}

.life2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 50px;
}

.mcentro1 {
    margin-top: 100px;
}

/*SCROLL VERTICAL LINEA ROJA -----------------------------*/

.scroll-container {
    position: relative;
    width: 130%;
}

.scroll-line {
    position: absolute;
    left: 50%;
    top: 0;
    width: 2px;
    background: #000;
    z-index: 9;
}

.scroll-progress {
    position: absolute;
    left: 50%;
    top: 0;
    width: 2px;
    background: red;
    z-index: 10;
    height: 0%;
    /* La altura inicial es 0 para que no se muestre hasta que se haga scroll */
}

.section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.section::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 2px;
    background: #000;
    z-index: 10;
    transform: translateX(-50%) translateY(-50%);
}

.section:nth-child(odd) {
    justify-content: flex-start;
}

.section:nth-child(odd)::before {
    transform: translateX(-100%) translateY(-50%);
}

.section:nth-child(even) {
    justify-content: flex-end;
}

.section:nth-child(even)::before {
    transform: translateX(0) translateY(-50%);
}

.cardbmu {
    position: absolute;
    width: 200px; /* Ajusta al ancho deseado de tus tarjetas */
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background: #fff;
    border-radius: 15px;
    z-index: 5;
    top: 50%; /* Posiciona la tarjeta en el centro verticalmente */
    transform: translateY(-50%); /* Centra la tarjeta respecto a su altura */
  }
  
  /* Posiciona las tarjetas de las secciones impares a la izquierda */
  .section:nth-child(odd) .cardbmu {
    left: calc(50% - 90px - 200px); /* 250px es la distancia desde el centro, 200px es el ancho de la tarjeta */
  }
  
  /* Posiciona las tarjetas de las secciones pares a la derecha */
  .section:nth-child(even) .cardbmu {
    left: calc(50% + 50px); /* 250px es la distancia desde el centro */
  }
  
  /* Añade margen superior e inferior a las secciones para que las tarjetas no se superpongan */
  .section {
    margin-top: 100px; /* Ajusta este valor según la separación vertical que desees */
    margin-bottom: 40px; /* Ajusta este valor según la separación vertical que desees */
  }
  

/* Estilos para el menú de categorías BLOG BLOG BLOG BLOG --------------------------------------*/
.category-menu {
    text-align: center;
    margin: 20px;
}

.category-button {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
    /* Añade estilos adicionales según sea necesario */
}

/* Estilos para las tarjetas de los posts */
.posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    /* Ajusta el espacio entre las tarjetas */
    padding: 20px;
    /* Ajusta el padding de todo el contenedor */
}

.post-card {
    background-color: white;
    /* Color de fondo de la tarjeta */
    border-radius: 15px;
    /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra sutil para la tarjeta */
    overflow: hidden;
    /* Asegura que todo dentro de la tarjeta respete los bordes redondeados */
    width: 300px;
    /* Ancho fijo para cada tarjeta */
    text-align: left;
    /* Alineación del texto dentro de la tarjeta */
    transition: transform 0.2s;
    /* Transición suave para hover */
}

.post-card:hover {
    transform: scale(1.05);
    /* Efecto de crecimiento al pasar el mouse sobre la tarjeta */
}

.post-card img {
    width: 100%;
    /* La imagen cubre el ancho completo de la tarjeta */
    height: auto;
    /* La altura de la imagen es automática para mantener la proporción */
}

.post-card h3 {
    margin: 16px;
    /* Margen alrededor del título para dar espacio */
}

.post-card p {
    margin: 0 16px 16px;
    /* Margen alrededor del párrafo */
    color: #333;
    /* Color del texto */
}

/* Responsiveness */
@media (max-width: 600px) {
    .posts-container {
        flex-direction: column;
        align-items: center;
    }

    .post-card {
        width: 90%;
        /* Las tarjetas ocupan más ancho en pantallas pequeñas */
    }

    .post-content {
        width: 100%;
        margin: 10px;
        margin-top: 100px;
    }
}

/*CONTENIDO POSTS*/

.post-content {
    display: flex;
    flex-direction: column;
    width: 800px;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
}

/*FIN BLOG-----------------------------------------------------------*/