<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- BoxIcons v2.1.2 -->
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">

    <!-- Ajustar la ruta de la hoja de estilos con baseurl -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend: site.baseurl }}">

    <title>{{ page.title }}</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <!-- Ajustar la ruta de las imágenes con baseurl -->
            <div><a href="{{ site.baseurl }}/"><img class="logo" src="{{ '/assets/images/logo.png' | prepend: site.baseurl }}"></a></div>
            <!-- NAVIGATION MENU -->
            <ul class="nav-links">
                <!-- USING CHECKBOX HACK -->
                <input type="checkbox" id="checkbox_toggle" />
                <label for="checkbox_toggle" class="hamburger">&#9776;</label>
                <!-- NAVIGATION MENUS -->
                <div class="menu">
                    <!-- Ajustar los enlaces con baseurl -->
                    <li><a href="{{ site.baseurl }}/">HOME</a></li>
                    <li><a href="{{ site.baseurl }}/meet-your-coach.html">MEET YOUR COACH</a></li>
                    <li><a href="{{ site.baseurl }}/coaching.html">COACHING</a></li>
                    <li><a href="{{ site.baseurl }}/free-resources.html">FREE RESOURCES</a></li>
                    <li><a href="{{ site.baseurl }}/blog.html">BLOG</a></li>
                    <li><a href="{{ site.baseurl }}/contact.html">CONTACT</a></li>
                </div>
            </ul>
        </nav>
    </header>

    <article class="post-content">
        <!-- El contenido del post se insertará aquí -->
        {{ content }}
    </article>

    <!-- Ajustar la ruta del script con baseurl -->
    <script src="{{ '/assets/js/script.js' | prepend: site.baseurl }}"></script>
</body>

</html>